<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="../estilos/styles.css">
    </head>
    <body>
        <nav>
            <ul>
                <li class="nav1"><a href="index.html">Home</a></li>
                <li class="nav2"><a href="index1.html">Log in</a></li>
            </ul>
        </nav>
        <div class="foto-universidad">
            <h1 class = "tittle">Bienvenido a EmprendeNow</h1>
        </div>
        
    </body>
    <div>
        <p class="titulo">Nosotros</p>
        <p class="nosotros">Somos una compania que quiere dar la oportunidad de que diferentes emprendimientos
            en la Universidad Javeriana puedan ser mas conocidos y al mismo tiempo que estudiantes
            tengan mas opciones y variedad cuando quieran hacer una compra ya sea de algun alimento
            o algun otro producto
        </p>
    </div>
</html>