/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../background.png);
    background-size: cover;
}

.form-emprendimientos {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

li {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}

.img-emprendimiento {
    display: flex;
    width: 200px; /* Ancho deseado */
    height: auto; /* Altura ajustada automáticamente para mantener la proporción */
}